.nav-popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  z-index: -1;
  transform: translate(320px, 0);
  transition: all 0.4s ease;

  @media screen and (min-width: 806px) {
    display: none;
  }

  &:hover {
    cursor: pointer;
  }

  &__opened {
    transform: translate(0, 0);
    z-index: 2;
  }

  &__container {
    max-width: 320px;
    width: 100%;
    max-height: 413px;
    height: 100%;
    background-color: #2e2e2e;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 105px 0 46px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: 3px solid #4f4e4e;
    border-bottom: 3px solid #4f4e4e;
    box-sizing: border-box;

    @media screen and (min-width: 624px) {
      max-height: 500px;
    }

    &:hover {
      cursor: auto;
    }
  }

  &__close-btn {
    position: absolute;
    top: 13px;
    right: 13px;
    width: 32px;
    height: 32px;
    border: none;
    background-image: url("../../images/exit-nav-icon.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;

    @media screen and (min-width: 624px) {
      top: 22px;
      right: 22px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    @media screen and (min-width: 624px) {
      gap: 18px;
    }
  }

  &__item {
    padding: 7px 0;

    @media screen and (min-width: 624px) {
      padding: 4px 0;
    }
  }

  &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    text-decoration: none;

    &_profile {
      font-size: 14px;
      line-height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 32px;
      border: 2px solid rgba(#aaa, 0.2);
      border-radius: 50px;

      &:hover {
        cursor: pointer;
      }

      .acc-icon {
        width: 12px;
        height: 14px;
      }
    }
  }
}
