.cards {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  box-sizing: border-box;
  column-gap: 30px;
  row-gap: 39px;
  padding-top: 40px;

  @media screen and (min-width: 768px) {
    max-width: 708px;
    padding-top: 23px;
    row-gap: 47px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1140px;
    padding-top: 10px;
    row-gap: 60px;
  }
}

.save-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 72px;
  height: 21px;
  border-style: none;
  border-radius: 30px;
  background-color: #313131;
  font-size: 10px;
  line-height: 9px;
  color: #fff;

  &:hover {
    cursor: pointer;
  }

  &__saved {
    width: 21px;
    font-size: 0;
    background-image: url("../../images/saved-movie-icon.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ee3465;

    &:hover {
      cursor: auto;
    }
  }
}

.more-btn {
  max-width: 1280px;
  margin: 0 auto;
  padding: 50px 0 80px;
  display: flex;
  justify-content: center;

  &__btn {
    width: 240px;
    height: 36px;
    border: 1px solid #424242;
    background-color: transparent;
    border-radius: 6px;
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    color: #fff;

    &:hover {
      cursor: pointer;
    }
  }
}
