.cards {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  box-sizing: border-box;
  column-gap: 30px;
  row-gap: 39px;
  padding-top: 40px;

  @media screen and (min-width: 768px) {
    max-width: 708px;
    padding-top: 23px;
    row-gap: 47px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1140px;
    padding-top: 10px;
    row-gap: 60px;
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @media screen and (min-width: 624px) {
    gap: 25px;
  }

  @media screen and (min-width: 1280px) {
    gap: 14px;
  }

  &__save-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 72px;
    height: 21px;
    border-style: none;
    border-radius: 30px;
    background-color: #313131;
    font-size: 10px;
    line-height: 9px;
    color: #fff;

    &:hover {
      cursor: pointer;
    }
  }

  &__saved {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 21px;
    height: 21px;
    border-radius: 30px;
    background-image: url("../../images/saved-movie-icon.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ee3465;
  }

  &__image {
    width: 300px;
    border-radius: 7px;

    &:hover {
      cursor: pointer;
    }

    @media screen and (min-width: 624px) {
      width: 339px;
      border-radius: 10px;
    }

    @media screen and (min-width: 1280px) {
      width: 360px;
    }
  }

  &__description {
    display: flex;
    align-items: center;
    width: 100%;

    &_title {
      font-size: 12px;
      line-height: 15px;
      font-weight: 500px;
      margin: 0;
      box-sizing: border-box;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: 250px;

      @media screen and (min-width: 624px) {
        font-size: 13px;
        line-height: 16px;
      }
    }

    &_duration {
      font-size: 11px;
      line-height: 10px;
      font-weight: 400;
      color: #8b8b8b;
      margin: 0 0 0 auto;
      padding: 0;
      width: 52px;
      height: 18px;
      border-radius: 3px;
      background-color: #2f2f2f;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
