%title-styles {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -0.04;
}

%subtitle-styles {
  margin: 0;
  font-size: 11px;
  line-height: 16px;
  font-weight: 400;
}

.about {
  padding: 70px 18px;

  &__title {
    @extend %title-styles;
    margin: 0 0 4px;
    padding: 0 0 28px;
    border-bottom: 1px solid #dadada;
  }

  &__fact {
    padding-top: 56px;

    &_title {
      @extend %title-styles;
      padding-bottom: 16px;
    }

    &_subtitle {
      @extend %subtitle-styles;
    }
  }

  &__schedule {
    display: flex;
    margin: 60px 0 0;

    &_el {
      text-align: center;

      &_1 {
        width: 100px;
        background-color: #3ddc84;
      }

      &_2 {
        width: 184px;
        background-color: #303030;
      }
    }

    &_title {
      @extend %title-styles;
      height: 35px;
      font-size: 11px;
      line-height: 13.31px;
      padding-top: 11px;
      box-sizing: border-box;
    }

    &_subtitle {
      @extend %subtitle-styles;
      line-height: 13px;
      padding-top: 10px;
      background-color: #202020;
      color: #a0a0a0;
    }
  }
}
